:root, [data-bs-theme=light] {
  --bs-body-bg: rgb(39,38,46);
  --bs-body-bg-rgb: 39,38,46;
  --bs-link-color: #ffffff;
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color: #19f5aa;
  --bs-link-hover-color-rgb: 25,245,170;
}

[data-bs-theme=dark] {
  --bs-link-color: #ffffff;
  --bs-link-color-rgb: 255,255,255;
  --bs-link-hover-color: #19f5aa;
  --bs-link-hover-color-rgb: 25,245,170;
}

